In [4]:
import os
import pandas as pd

HOUSING_PATH = os.path.join("datasets", "global temperature")

def load_temperature_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "GlobalLandTemperaturesByMajorCity.csv")
    return pd.read_csv(csv_path)

In [5]:
temperatures = load_temperature_data()
temperatures.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [6]:
temperatures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   dt                             239177 non-null  object
 1   AverageTemperature             228175 non-null  float64
 2   AverageTemperatureUncertainty  228175 non-null  float64
 3   City                           239177 non-null  object
 4   Country                        239177 non-null  object
 5   Latitude                       239177 non-null  object
 6   Longitude                      239177 non-null  object
dtypes: float64(2), object(5)
memory usage: 12.8+ MB

In [7]:
temperatures.describe()

       AverageTemperature  AverageTemperatureUncertainty
count       228175.000000                  228175.000000
mean            18.125969                       0.969343
std             10.024800                       0.979644
min            -26.772000                       0.040000
25%             12.710000                       0.340000
50%             20.428000                       0.592000
75%             25.918000                       1.320000
max             38.283000                      14.037000